#include "coreelec_common.dtsi"

/ {
	compatible = "amlogic, g12b";

	/delete-node/ ir@0xff808040;
	/delete-node/ optee;

	reserved-memory {
		logo_reserved:linux,meson-fb {
			reg = <0x0 0x77800000 0x0 0x800000>;
		};

		ion_cma_reserved:linux,ion-dev {
			size = <0x0 0x3400000>;
		};

		ion_fb_reserved:linux,ion-fb {
			size = <0x00000000 0x11000000>;
		};

		galcore_reserved:linux,galcore {
			size = <0x0 0x1000000>;
		};

		dmaheap_fb_reserved:heap-fb {
			/* 4k STB androidT size 160M */
			size = <0x0 0xa000000>;
		};
	};

	amhdmitx: amhdmitx{
		hdmitx-gpios-hpd = <&gpio GPIOH_2 0>;
		hdmitx-gpios-scl = <&gpio GPIOH_1 0>;
		hdmitx-gpios-sda = <&gpio GPIOH_0 0>;
		vend_data: vend_data{ /* Should modified by Customer */
			product_desc = "G12B"; /* Max Chars: 16 */
		};
	};

	multi-di {
		compatible = "amlogic, dim-g12b";
	};

	meson-ir {
		reg = <0x0 0xff808040 0x00 0x44>, /*Multi-format IR controller*/
			<0x0 0xff808000 0x00 0x20>; /*Legacy IR controller*/
		interrupts = <GIC_SPI 196 IRQ_TYPE_EDGE_RISING>;
	};

	meson-remote {
		reg = <0x0 0xff808040 0x00 0x44>, /*Multi-format IR controller*/
			<0x0 0xff808000 0x00 0x20>; /*Legacy IR controller*/
		interrupts = <GIC_SPI 196 IRQ_TYPE_EDGE_RISING>;
	};

	gpu:bifrost {
		compatible = "arm,mali-bifrost";
	};

	emmc_pwrseq: emmc-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&gpio BOOT_12 GPIO_ACTIVE_LOW>;
	};

	/delete-node/ auge_sound;
	auge_sound {
		compatible = "amlogic, auge-sound-card";
		aml-audio-card,name = "AML-AUGESOUND";

		/*avout mute gpio*/
		avout_mute-gpios = <&gpio_ao GPIOAO_2 GPIO_ACTIVE_HIGH>;

		aml-audio-card,dai-link@0 {
			mclk-fs = <128>;
			continuous-clock;
			cpu {
				system-clock-frequency = <6144000>;
				sound-dai = <&aml_spdif_b>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};

		aml-audio-card,dai-link@1 {
			format = "i2s";
			mclk-fs = <256>;
			bitclock-master = <&aml_tdmb>;
			frame-master = <&aml_tdmb>;
			continuous-clock;
			cpu {
				dai-tdm-slot-tx-mask = <1 1>;
				dai-tdm-slot-rx-mask = <1 1>;
				dai-tdm-slot-num = <2>;
				dai-tdm-slot-width = <32>;
				system-clock-frequency = <12288000>;
				sound-dai = <&aml_tdmb>;
			};
			codec {
				sound-dai = <&amlogic_codec>;
			};
		};

		aml-audio-card,dai-link@2 {
			mclk-fs = <128>;
			continuous-clock;
			cpu {
				system-clock-frequency = <6144000>;
				sound-dai = <&aml_spdif>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};

		aml-audio-card,dai-link@3 {
			format = "i2s";
			mclk-fs = <256>;
			bitclock-master = <&aml_i2s2hdmi>;
			frame-master = <&aml_i2s2hdmi>;
			continuous-clock;
			cpu {
				sound-dai = <&aml_i2s2hdmi>;
				dai-tdm-slot-tx-mask = <1 1>;
				dai-tdm-slot-rx-mask = <1 1>;
				dai-tdm-slot-num = <2>;
				dai-tdm-slot-width = <32>;
				system-clock-frequency = <12288000>;
			};
			codec {
				sound-dai = <&dummy_codec>;
			};
		};
	};

	gpio_keypad {
		key_num = <1>;
		key_name = "power";
		key_code = <116>;
	};
};

&aocec {
	ee_cec; /*use cec a or b*/
	cec_sel = <1>;/*1:use one ip, 2:use 2 ip*/
	port_num = <4>;
};

&lcd {
	status = "disabled";
};

&vdin0 {
	status = "disabled";
};

&vdin1 {
	status = "disabled";
};

&pinctrl_periphs {
	/delete-node/ spdifin;
};

&audiobus {
	/delete-node/ tdm@1;
	/delete-node/ spdif@0;
	/delete-node/ spdif@1;

	aml_i2s2hdmi: i2s2hdmi {
		compatible = "amlogic, g12a-snd-tdmc";
	};

	aml_tdmb: tdmb {
		suspend-clk-off = <0>;
	};

	aml_spdif: spdif {
		pinctrl-0 = <&spdifout>;
		suspend-clk-off = <0>;
	};

	aml_spdif_b: spdif_b {
		suspend-clk-off = <0>;
	};
};

&i2c0 {
	status = "disabled";
};

&i2c3 {
	/delete-node/ ad82584f_62@31;
	/delete-node/ tlv320adc3101_32@19;
};

&usb3_phy_v2 {
	otg = <0>;
};

&ext_mdio {
	external_phy: ethernet-phy@0 {
		reg = <0>;
		max-speed = <1000>;
	};
};

&ethmac {
	pinctrl-0 = <&external_eth_pins>;
	pinctrl-names = "default";
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&external_phy>;
	internal_phy = <0>;
	amlogic,tx-delay-ns = <2>;
};

&sd_emmc_c {
	mmc-pwrseq = <&emmc_pwrseq>;
};
