#include "g12b_a311d_w400_linux.dts"
#include "coreelec_g12b_common.dtsi"

/ {
	model = "Hardkernel ODROID-N2";
	coreelec-dt-id = "g12b_s922x_odroid_n2";

	/delete-node/ memory@00000000;

	reserved-memory {
		secmon_reserved:linux,secmon {
			size = <0x0 0x300000>;
			alloc-ranges = <0x0 0x05000000 0x0 0x300000>;
		};
	};

	bt-dev {
		status = "disabled";
	};

	wifi {
		status = "disabled";
	};

	/delete-node/ rtc;

	gpio_keypad {
		/delete-property/ key-gpios;
		/delete-property/ detect_mode;
		reg = <0x0 0xFF800000 0x0 0x400>;
	};

	cpu_opp_table0: cpu_opp_table0 {
		opp09 {
			opp-hz = /bits/ 64 <1896000000>;
			opp-microvolt = <980000>;
		};
		opp10 {
			opp-hz = /bits/ 64 <1920000000>;
			opp-microvolt = <1000000>;
		};
	};

	cpu_opp_table1: cpu_opp_table1 {
		opp08 {
			opp-hz = /bits/ 64 <1800000000>;
			opp-microvolt = <980000>;
		};
		opp09 {
			opp-hz = /bits/ 64 <1908000000>;
			opp-microvolt = <1020000>;
		};
		opp10 {
			opp-hz = /bits/ 64 <2004000000>;
			opp-microvolt = <1020000>;
		};
	};

	cpus:cpus {
		cpu-map {
			cluster0:cluster0 {
				stock_freq = <1896000000>;
			};
			cluster1:cluster1 {
				stock_freq = <1800000000>;
			};
		};
	};

	gpioleds {
		sys_led {
			linux,default-trigger = "heartbeat";
		};
	};

	gpio-reset {
		compatible = "linux,gpio-reset";
		usb_hub_en {
			gpios = <&gpio GPIOH_5 GPIO_ACTIVE_HIGH>;
			asserted-state = <0>;
			duration-ms = <100>;
		};
		usb_hub {
			gpios = <&gpio GPIOH_4 GPIO_ACTIVE_HIGH>;
			asserted-state = <0>;
			duration-ms = <100>;
		};
	};

	unifykey {
		unifykey-num = <1>;
		unifykey-index-0 = <&keysn_0>;

		keysn_0: key_0 {
			key-name = "usid";
			key-device = "normal";
			key-permit = "read","write","del";
		};
	};

	dvb {
		compatible = "amlogic,dvb";
		dev_name = "avl6862";
		status = "disabled";
		dtv_demod0_i2c_adap_id = <2>;
		ts0 = "serial";
		ts0_control = <0>;
		ts0_invert = <0>;
		fec_reset_gpio-gpios = <&gpio GPIOX_13 GPIO_ACTIVE_HIGH>;
		power_ctrl_gpio-gpios = <&gpio GPIOX_12 GPIO_ACTIVE_LOW>;
		pinctrl-names = "s_ts0", "s_ts1";
		pinctrl-0 = <&dvb_s_ts0_pins>;
		pinctrl-1 = <&dvb_s_ts1_pins>;
		interrupts = <GIC_SPI 23 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI  5 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 19 IRQ_TYPE_EDGE_RISING>,
			     <GIC_SPI 25 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "demux0", "demux1", "asyncfifo0", "asyncfifo1";
	};

	onewire {
		compatible = "w1-gpio";
		pinctrl-names = "default";
		gpios = <&gpio GPIOX_7 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};
};

&i2c0 {
	/delete-property/ pinctrl-names;
	/delete-property/ pinctrl-0;
	/delete-property/ clock-frequency;
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_master_pins1>;
	clock-frequency = <400000>;
};

&i2c3 {
	pcf8563: rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
	};
};

&audiobus {
	aml_tdmb: tdmb {
		/delete-property/ pinctrl-names;
		/delete-property/ pinctrl-0;
	};

	aml_spdif: spdif {
		pinctrl-names = "spdif_pins";
		/delete-property/ pinctrl-1;
	};
};

&pinctrl_periphs {
	i2c3_master_pins2: i2c3_pins2 {
		mux {
			drive-strength = <3>;
		};
	};

	spdifout: spdifout {
		mux {/* GPIOA_13 */
			groups = "spdif_out_a13";
			function = "spdif_out";
		};
	};

	dvb_s_ts0_pins: dvb_s_ts0_pins {
		tsin_a {
			groups ="tsin_a_valid",
				"tsin_a_sop",
				"tsin_a_din0",
				"tsin_a_clk";
			function = "tsin_a";
		};
	};

	dvb_s_ts1_pins: dvb_s_ts1_pins {
		tsin_b {
			groups = "tsin_b_sop_x",
			"tsin_b_valid_x",
			"tsin_b_clk_x",
			"tsin_b_din0_x";
			function = "tsin_b";
		};
	};
};

&pinctrl_aobus {
	/delete-node/ spdifout;
};

&sd_emmc_c {
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	cap-sd-highspeed;
	cap-mmc-hw-reset;
};

&sd_emmc_a {
	status = "disabled";
};

&uart_A {
	status = "disabled";
};

&vddio_c {
	gpio = <&gpio_ao GPIOAO_9 GPIO_ACTIVE_HIGH>;
};
